[*]
charset=utf-8
insert_final_newline=false
indent_style=space
indent_size=2

[{*.sht,*.htm,*.html,*.shtm,*.shtml,*.ng}]
indent_style=tab
tab_width=4

[{.babelrc,.stylelintrc,.eslintrc,jest.config,*.bowerrc,*.jsb3,*.jsb2,*.json}]
indent_style=space
indent_size=2

[{*.applejs,*.js}]
indent_style=space
tab_width=2

[*.jsx]
indent_style=tab
tab_width=4

[{jshint.json,*.jshintrc}]
indent_style=space
indent_size=2

[{*.jscs.json,*.jscsrc}]
indent_style=space
indent_size=2

[*.js.map]
indent_style=space
indent_size=2

[{*.css,*.scss}]
indent_style=tab
indent_size=4

[{*.yml,*.yaml}]
indent_style=space
indent_size=2